div(class="container mt-5")
  div(class="container mb-4 text-center")
    h4(class="m-5 text-center") Informacion de Configuracion
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") Directorio:
        p(class="col-md-2 text-center") #{info.directorio}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") Ruta:
        p(class="col-md-2 text-center") #{info.ruta}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") ProcesoId:
        p(class="col-md-2 text-center") #{info.procesoId}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") nombrePlataforma:
        p(class="col-md-2 text-center") #{info.nombrePlataforma}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") versionNode:
        p(class="col-md-2 text-center") #{info.versionNode}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") argumentoEntrada:
        p(class="col-md-2 text-center") #{info.argumentoEntrada}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") memoriaReservada:
        p(class="col-md-2 text-center") #{info.memoriaReservada}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") totalCPUs:
        p(class="col-md-2 text-center") #{info.totalCPUs}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") URL:
        p(class="col-md-2 text-center") #{info.url}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") PORT:
        p(class="col-md-2 text-center") #{info.port}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") SECRET:
        p(class="col-md-2 text-center") #{info.secret}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") EMAIL:
        p(class="col-md-2 text-center") #{info.email}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") PASSEMAIL:
        p(class="col-md-2 text-center") #{info.passemail}
    div(class="container d-flex justify-content-center")
        span(class="col-md-2 text-center text-danger") ADMIN:
        p(class="col-md-2 text-center") #{info.admin}
   
